*.sdf
*.sln
*.suo
bin/
bin64/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/NppPluginTemplate.opensdf
vs.proj/NppPluginTemplate.exp
vs.proj/NppPluginTemplate.lib
vs.proj/NppPluginTemplate.vcxproj.user
*.aps
*.zip
/.vs/RTLManager0.8.1/v15/Solution.VC.db
/.vs/RTLManager0.8.1/v15/Browse.VC.opendb
/.vs/RTLManager0.8.1/v15/Browse.VC.db
/Debug
/Debug/RTLManager.pdb
/Debug/RTLManager.lib
/Debug/RTLManager.ilk
/Debug/RTLManager.exp
/Debug/RTLManager.dll
/vs.proj/.vs
/.vs/RTLManager0.8.1/v15/ipch/AutoPCH
/.vs/RTLManager0.8.1/v15/ipch/AutoPCH
